# Python Bytecode
__pycache__/
*.py[cod]

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environments
env/
venv/
.venv/

# Jupyter Notebook Metadata
.ipynb_checkpoints/
*.ipynb_checkpoints/

# MacOS Files
.DS_Store

# Logs
*.log
